.App {
  align-items: center;
  background: url('../assets/bg-intro-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .container {
    align-items: center;
    display: flex;
    gap: 25px;
    max-width: 1440px;
    justify-content: center;
    height: 100%;
    width: 100%;

    .containerLeft {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: max-content;

      h1 {
        font-size: 50px;
        line-height: 55px;
        max-width: 500px;
        width: 100%;
      }

      p {
        font-size: 18px;
        max-width: 600px;
        width: 100%;
      }
    }

    .containerRight {
      align-items: center;
      display: flex;
      gap: 20px;
      flex-direction: column;
      width: max-content;

      .tryfree {
        -webkit-box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.192);
        -moz-box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.192);
        box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.192);
        background-color: hsl(248, 32%, 49%);
        border-radius: 7px;
        padding: 15px 100px;

        p {
          color: white;

          span {
            font-weight: 700;
          }
        }
      }

      .containerForm {
        background: white;
        border-radius: 6px;
        -webkit-box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.192);
        -moz-box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.192);
        box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.192);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 35px;
        width: 100%;

        input {
          border-radius: 6px;
          border: 1px solid rgba(206, 206, 206, 0.671);
          font-size: 15px;
          font-weight: 600;
          outline: none;
          padding: 18px 25px;
          width: 100%;

          &::placeholder {
            font-size: 15px;
            font-weight: 600;
          }


          &:focus {
            border: 1px solid rgb(143, 143, 143);
          }
        }

        button {
          border: 0px;
          background-color: hsl(154, 59%, 51%);
          border-radius: 7px;
          box-shadow: 0px 3px 0px 1px hsl(154, 57%, 44%);
          color: white;
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1px;
          padding: 15px;
        }

        p {
          color: hsl(246, 25%, 77%);
          font-size: 11px;
          font-weight: 500;
          text-align: center;

          span {
            color: hsl(0, 100%, 74%);
            font-weight: 700;
          }
        }
      }


    }
  }
}